BasedOnStyle: Mozilla

Standard: Cpp11
IndentWidth: 4
AccessModifierOffset: -4
ColumnLimit: 120
EmptyLineBeforeAccessModifier: Never

AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
SpaceInEmptyBlock: true
AllowShortFunctionsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
SpaceBeforeParens: Never
AlignEscapedNewlines: Left
BreakConstructorInitializers: AfterColon

InsertBraces: true
BreakInheritanceList: BeforeColon
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel:  false
  AfterClass:      true
  AfterControlStatement: Never
  AfterEnum:       true
  AfterFunction:   true
  AfterNamespace:  false
  AfterStruct:     true
  AfterUnion:      true
  AfterExternBlock: true
  BeforeCatch:     true
  BeforeElse:      true
  BeforeLambdaBody: true
  BeforeWhile:     false
  IndentBraces:    false
  SplitEmptyFunction: false
  SplitEmptyNamespace: false
